
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div>Bura layout hissesidir</div>
    <h2>LAYOUT Sehifesine xos geldiniz</h2>
    @RenderBody()
</body>
</html>